@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

/*-----------------------------------------Headings*/

header {
    margin: 0;
}

body {
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

h1 {
    color: #fafafa;
    letter-spacing: 2px;
}

h2 {
    color:#5f9ea0;
    font-family: 'Exo' , sans-serif;
    text-align: center;
}
h4 {
    color:#5f9ea0;
    font-family: 'Exo' , sans-serif;
    text-align: center;
    text-decoration: overline underline;
}

h5 {
    color: #fafafa;
    font-family: 'Exo' , sans-serif;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

.ui-menu-text {
    font-size: 20px;
    font-family: 'Exo' , sans-serif;
    letter-spacing: 2px;

}
span:hover {
    color: #5f9ea0;

}

/*------------------------------------------Colors*/


/*-----------------------------------------Images*/

.background-image {
    width: 100%;
    height: auto;
}

/*----------------------------------------Others*/

.hours{
    text-align: center;
}

.offers{
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
    color: #fafafa;
    font-family: 'Exo' , sans-serif;

}


.footer-sub {
    font-family: 'Exo' , sans-serif;
    color: #fafafa;
    letter-spacing: 2px;
    text-align: center;
}

.address {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 60px;
    height: 32px;
    padding: 32px,0;
    font-size: 32px;
    color: #fafafa;
}

.social-links li a i:hover {
    color: #525252;

}


/*------------------------------------------Containers*/
.welcome-container {
    width: 100%;
    height: auto;


}

.opening-hours-container {
    width: 100%;
    height: auto;
    background: #e6e6fa;


}

.map-container {
    width: 100%;
    height: auto;


}

.sign-up-container {
    background-color: #008080;
    width: 100%;
    max-height: 120px;

}

.footer-container {
    width: 100%;
    height: auto;
    background-color: #5f9ea0;
    padding-bottom: 20px;
}
